body  {
	
	background-size: cover;
	color: white;
	width: 50%
}

div {
	border: 10px solid grey;
	color: rgba(255,255,255,0.5);
}

h2 {
	text-align: center
}

header {
	font-size: 175%;
	

}


#dice {
	color: red;
	background-image: url(https://irlandairlanda.files.wordpress.com/2016/07/llamas.gif);
	background-size: cover;	
}
